*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*big_card*/
.content {
  display: flex;
  flex-direction: row;
  margin: 133px 30px;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container{
  position: relative;
  min-inline-size: 711px;
  padding-block-start: 75px;
}

.result__video {
  object-fit: cover;
  block-size: 386px;
  inline-size: 100%;
}

.search-form {
  display: flex;
  min-width: 711px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1px;
}

.search-form__fieldset {

}

.search-form__fieldset-title {

}

.search-form__label {

}

.search-form__label-text visually-hidden {
  
}

.search-form__textfield {

}


.search-form__checkbox-list {

}

.search-form__checkbox visually-hidden {

}

.search-form__pseudo-checkbox {

}

.search-form__label-text {

}

.button search-form__submit-button {

}




/*вывод списка видео*/
.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.content__accent {
  color: #545050;
  position: relative;
}

.content__list-container {

}

.content__list {

}

/*ТЕМПЛЕЙТЫ*/


/*.preloader {

}

.preloader-chasing-squares {

}
*/
.preloader-template {

}



.square {

}


.cards-list-item-template {


}

.content__list-item {

}

.content__card-link {

}

.content__video-card {

}

.content__video-card-description-container {

}

.content__video-card-title {

}

.content__video-card-description {

}

.content__video-card-thumbnail {

}

.more-button-template {

}


.button {

}

.more-button {

}

.error-template {

}

.error {

}

.error__title {

}

