*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*big_card*/
.content {
  display: flex;
  flex-direction: row;
  margin: 133px 30px;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container{
  position: relative;
  min-inline-size: 711px;
  padding-block-start: 75px;
}

.result__video {
  object-fit: cover;
  block-size: 386px;
  inline-size: 100%;
}

.search-form {
  display: flex;
  min-width: 711px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}








/*вывод списка видео*/
.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.content__accent {
  color: #545050;
  position: relative;
}

.content__list-container {

}

.content__list {

}